<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>onoff</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>2</string>
		<key>onetimereminder</key>
		<string>02:30</string>
	</dict>
	<dict>
		<key>starttime</key>
		<string>08:00</string>
		<key>endtime</key>
		<string>17:00</string>
	</dict>
	<dict>
		<key>totalonoff</key>
		<string>YES</string>
		<key>totaltime</key>
		<string>15:00</string>
	</dict>
</array>
</plist>
